{
	"plugins": [
		[
			"starts-with-ends-with"
		]
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": true
				}
			}
		],
		[
			"minify",
			{
				"mangle": false
			}
		]
	]
}